/* base */
.div-options{
    float:left;
}

.div-selector{
    float:left;
}

.div-selector-cols{
    float:left;
}

.div-exclusiveSelector{
    float:left;
}

.div-exclusiveSelector-cols{
    float:left;
}

.div-groupSelector{
    float:left;
}

.div-groupSelector-cols{
    float:left;
}
