.data-mapping-panel .topic-name {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #c8c8c8;
  padding: 10px;
  text-align: center;
}

//table
.data-mapping-panel .table td {
  padding: 0px 0px 0px 2px !important;//top right bottom left
}

//data columns
.data-mapping-panel .columns {
  width: 100%;
  font-size: large;
  flex: 1;
}

.data-mapping-panel .dimensions {
  flex: 1;
  padding-top: 4px;
}

.data-mapping-panel .dimensions > div {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 9px;
  margin-right: 9px;
  margin-bottom: 9px;
}

.data-mapping-panel .dimensions div.container {
  min-height: 40px;
  width: 100%;
  padding: 0px;
}

.data-mapping-panel .dimensions-mapping {
  display: flex;
}

.data-mapping-panel .label.label-primary.column-name {
  width: 100%;
  display: block;
  margin: 3px;
  border-radius: 0px;
  cursor: pointer;
  text-align: left;
}

.data-mapping-panel .dimensions .label.label-primary.column-name {
  width: 100%;
  font-size: medium;
  margin: 1px 0px;
}

.data-mapping-panel .dim-type,
.data-mapping-panel .col-type {
  color: #717171;
}

.data-mapping-panel .columns .label.label-primary:hover {
  background-color: #82BEBE;
}

.data-mapping-panel .place-holder {
  background-color: #ddd;
  border: 1px dashed red;
}

.data-mapping-panel .topic-name {
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
  text-shadow: none;
}
