
.ElasticExample .node circle {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 1.5px;
    }
.ElasticExample .node {
        font: 10px sans-serif;
    }
.ElasticExample .link {
        fill: none;
        stroke: #c00;
        stroke-width: 1.5px;
  }