<div class="vt-management-page">
  <div class="first-column">
    <div class="vt-list">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">VT list</h3>
        </div>
        <div class="panel-body">
          <% for (var i = 0; i < vtlist.length; i++) { %>
          <div class="vt" data-vtid="<%= vtlist[i].id %>" draggable="true">
            <%= vtlist[i].name %>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <div class="vt-command-editor">
      <textarea class="sql-command-editor">
SELECT e.action u.age, u.latitude, u.logitude
FROM file1_data1 u
JOIN file2_data e
ON u.userId = e.userId
      </textarea>
    </div>
    <div class="vt-command-buttons">
      <a href="#" class="btn btn-success btn-execute">Execute</a>
      <a href="#" class="btn btn-success btn-save">Save</a>
    </div>
    <div class="bottom"></div>
  </div>
  <div class="second-column">

  </div>
</div>