/* base */
.linechart .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.linechart .legend {
  fill: graytext;
}

.linechart path.line_chart {
  fill: none;
  width: 1px;
}

.linechart rect.extent {
  fill-opacity: 0.2;
  stroke-opacity: 0.2;
  fill: blue;
}

.linechart .axis path{
  stroke: #aaa;
}

.linechart .domain {
  fill: none; 
  stroke: black; 
  stroke-width: 1;
}

/* layout */
.linechart #legend_line_chart {
  background-color: white;
    float: left;
    height: 125px;
    position: absolute;
    right: 19%;
    top: 30px;
    width: 88px;
}

.linechart #multi_series_line_chart {
  color: black;
    float: right;
    margin-top: 160px;
    position: absolute;
    right: 30%;

}

.linechart .area_above {
  fill: rgb(252,141,89);
  /*fill: #17FFF7;*/
}

.linechart .area_below {
  fill: rgb(145,207,96);
}

.linechart #circleTooltip {
  fill: none;
    stroke: none;
    pointer-events: all;
}

.linechart #control_line_chart {
  float: right;
    height: 80px;
    overflow: auto;
    position: absolute;
    right: 31%;
    top: 165px;
    width: 78px;
    color: black;
}

.linechart #control_panel_line_chart {
  background-color: whitesmoke;
    border: 1px none gray;
    box-shadow: 0 3px 3px 2px #888;
    color: gray;
    height: 334px;
    left: -12%;
    margin-top: 65px;
    position: absolute;
    top: 115px;
    width: 135px;
}

.linechart #change_color_line_chart {
  float: left;
    position: absolute;
    top: 215px;
    width: 76px;
}

.linechart #pick_color_line_chart {
  left: 80px;
    position: absolute;
    top: 215px;
    width: 43px;
}

.linechart .rect_line_chart {
  fill-opacity: 1;
}

.linechart #slider_line_chart {
  position: relative;
    top: 250px;
}